USERNAME=magazijn@cottoceramix.com
PASSWORD=cott1883
LOGIN_URL=https://bouw.nl9.cargooffice.com/
CSV_URL=https://bouw.nl9.cargooffice.com/ttboxv2/ttOutput.php?sort_fields=lastRealStatus&pos=0&dsm=month&preset=todayp&filterID=&filterName=&fromDate=2025-05-01&toDate=2025-05-31&year=2025&month=1&rowFilterField=orderID&rowFilterValue=&perpage=50&sort_order=d